

name: Tencent Kubernetes Engine

on:
  push:
    branches:
      - main

# Environment variables available to all jobs and steps in this workflow
env:
  TKE_IMAGE_URL: ccr.ccs.tencentyun.com/demo/mywebapp
  TKE_REGION: ap-guangzhou
  TKE_CLUSTER_ID: cls-mywebapp
  DEPLOYMENT_NAME: tke-test

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: production
    steps:

    - name: Checkout
      uses: actions/checkout@v2
      
    # Build
    - name: Build Docker image
      run: |        
        docker pull quay.io/prometheus/node-exporter:v0.18.1
       
    - name: retag
      run: |
        docker tag quay.io/prometheus/node-exporter:v0.18.1  songping19911217/node-exporter:v0.18.1
        
    - name: Login TKE Registry
      run: |
        docker login -u songping19911217 -p '4868504SONG,.' 

    # Push the Docker image to TKE Registry
    - name: Publish
      run: |
        docker push songping19911217/node-exporter:v0.18.1
       
       
    

    
