name: pytest verification

on:
  push:
    branches: [main]

env:
  REPO_URL: https://github.com/Parsl/parsl.git
  INSTANCE_DIR: Parsl__parsl-1175
  REPO_DIR: parsl
  base_commit: fe6d47e0774935e82e14f4cb8123c795f24c627f
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  CONDA_DIR: /opt/miniconda3

jobs:
  setup-build:
    name: Setup, Build
    runs-on: ubuntu-22.04
    environment: production
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y --no-install-recommends \
        bzip2 \
        wget \
        git \
        ca-certificates \
        curl \
        && sudo apt-get clean \
        && sudo rm -rf /var/lib/apt/lists/*

    - name: Install Miniconda
      run: |
        wget -q $PY_URL -O miniconda.sh
        bash miniconda.sh -b -p $CONDA_DIR
        rm miniconda.sh
        PATH=/opt/miniconda3/bin:${PATH}
        source ~/.bashrc
        conda config --add channels conda-forge
        echo "python版本是："
        python --version

    - name: setup_repo
      run: |
        git clone $REPO_URL $INSTANCE_DIR/$REPO_DIR
        cd $INSTANCE_DIR/$REPO_DIR
        git checkout "$base_commit"


    - name: setup_env
      run: |
        PATH=/opt/miniconda3/bin:${PATH}
        source ~/.bashrc
        echo "python版本是："
        python --version
        pip install --upgrade pip setuptools
        pip install numpy Cython
        pwd
        ls
        cd $INSTANCE_DIR/$REPO_DIR
        pip install -r test-requirements.txt    
        
        
    - name: run verification
      continue-on-error: true
      run: |
        PATH=/opt/miniconda3/bin:${PATH}
        source ~/.bashrc
        echo "python版本是："
        python --version
        cd $INSTANCE_DIR
        python run_verification.py 2>&1 | tee -a verification.log
        
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
            ${{ env.INSTANCE_DIR }}/results.json
            ${{ env.INSTANCE_DIR }}/verification.log
