name: pytest verification

on:
  push:
    branches: [main]

env:
  REPO_URL: https://github.com/CTFd/CTFd.git
  INSTANCE_DIR: CTFd__CTFd-2797
  REPO_DIR: CTFd/CTFd
  base_commit: e1f342b1624e66cd30f5963dba85af39008ff5d9
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  CONDA_DIR: /opt/miniconda3
  TEST_FILE: tests

jobs:
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    environment: production
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y --no-install-recommends \
        wget \
        git \
        ca-certificates \
        curl \
        vim \
        dos2unix \
        build-essential \
        libffi-dev \
        libssl-dev \
        # python3 \
        # python3-pip \
        # python-is-python3 
        

    - name: Install Miniconda
      run: |
        wget -q $PY_URL -O miniconda.sh
        bash miniconda.sh -b -p $CONDA_DIR
        rm miniconda.sh
        PATH=/opt/miniconda3/bin:${PATH}
        echo "/opt/miniconda3/bin" >> $GITHUB_PATH
        source ~/.bashrc
        conda config --add channels conda-forge
        echo "python版本是："
        python --version
        
        sed -i "s|MinicondaURL|$PY_URL|g" $GITHUB_WORKSPACE/Dockerfile
      
        
    - name: setup_repo
      run: |
        echo "开始写入setup_repo.sh 文件====================="
        cat > setup_repo.sh << EOF
        #!/bin/bash
        mkdir -p /testbed
        git clone $REPO_URL /testbed/$REPO_DIR
        cd /testbed/$REPO_DIR
        git checkout "$base_commit"
        cd ..
        EOF
        
        echo "开始执行setup_repo.sh 脚本"
        sudo bash setup_repo.sh


    - name: setup_env
      run: |
        echo "python版本是："
        python --version
        
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        pip install -q --upgrade pip setuptools
        pip install -e .
        pip install -r requirements.txt
        #pip install -q -r test-requirements.txt
        pip install -q --upgrade pytest
        EOF
        
        echo "开始执行setup_env 脚本====================="
        sudo bash setup_env.sh

        
    - name: run pytest
      run: |
        echo "python版本是："
        python --version
        echo "pytest版本是："
        pytest --version
        
        echo "开始写入pytest.sh 脚本====================="
        cat > pytest.sh << EOF
        cd /testbed/$REPO_DIR
        pytest $TEST_FILE
        git apply $GITHUB_WORKSPACE/$INSTANCE_DIR/test.patch 
        pytest $TEST_FILE || true
        git apply $GITHUB_WORKSPACE/$INSTANCE_DIR/code.patch 
        pytest $TEST_FILE
        EOF
        
        echo "开始执行pytest.sh 脚本====================="
        sudo bash pytest.sh
        
    - name: run verification
      continue-on-error: true
      run: |
        echo "python版本是："
        python --version
        
        # 使用 sed 替换变量值
        sed -i "s|REPO_PATH = ''|REPO_PATH = '$REPO_DIR'|g" run_verification.py
        sed -i "s|BASE_COMMIT = ''|BASE_COMMIT = '$base_commit'|g" run_verification.py
        sed -i "s|INSTANCE_ID = ''|INSTANCE_ID = '$INSTANCE_DIR'|g" run_verification.py
    
        # 验证替换结果
        echo "=== 替换后的变量值 ==="
        grep -E "^(REPO_PATH|BASE_COMMIT|INSTANCE_ID) =" run_verification.py
        
        
        echo "开始写入run_verification.sh 脚本====================="
        cat > run_verification.sh << EOF
        cd /testbed
        cp $GITHUB_WORKSPACE/run_verification.py .
        cp $GITHUB_WORKSPACE/$INSTANCE_DIR/test.patch .
        cp $GITHUB_WORKSPACE/$INSTANCE_DIR/code.patch .
        python run_verification.py 
        EOF
        
        echo "开始执行run_verification.sh 脚本====================="
        sudo bash run_verification.sh
        
        cp /testbed/results.json $GITHUB_WORKSPACE/
        
    - name: mergejson
      run: |
      
        sed -i "s|INSTANCE_DIR|$INSTANCE_DIR|g" mergejson.py
        
        echo "开始执行mergejson.py 合并程序====================="
        cp $INSTANCE_DIR/$INSTANCE_DIR.json $GITHUB_WORKSPACE/
        python mergejson.py
        
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.INSTANCE_DIR }}
        path: |
            Dockerfile
            setup_env.sh
            setup_repo.sh
            run_verification.py
            ${{ env.INSTANCE_DIR }}.json
