name: pytest verification

on:
  push:
    branches: [main]

env:
  # INSTANCE_DIR: "marimo-team__marimo-6887"
  # REPO_DIR: marimo
  # base_commit: 12b174df72d8731ee62f6c90d108711db5719ebf
  # REPO_URL: https://github.com/marimo-team/marimo.git
  #CONDA_DIR: /opt/miniconda3
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: tests/_runtime/packages/test_package_managers.py
  RUN_PYTEST: 'true'
  BASE_URL: 'https://sh-eng-dataset-zjk.oss-cn-zhangjiakou.aliyuncs.com/shien_files/SWEBench/%E4%BB%BB%E5%8A%A1/%E5%8F%91%E5%B8%83%E7%9A%84-12.15/marimo-team__marimo/marimo-team__marimo-6827.zip?Expires=1766994828&OSSAccessKeyId=LTAI5tB2Etp2wUEVtkT7zckM&Signature=fExe%2F9rWXnEe9PhDx0RHhHZRAj8%3D'

jobs:
      
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    # 使用 root 用户运行整个作业
    container:
      image: ubuntu:22.04
      options: --user root
    environment: production 
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: wget file
      run: |
        whoami
        RUN apt-get update && apt-get install -y --no-install-recommends \
        # --- 通用工具 ---
        wget \
        bzip2 \
        git \
        ca-certificates \
        curl \
        vim \
        dos2unix \
        # --- Python 基础 ---
        python3 \
        python3-pip \
        python-is-python3
        
        export INSTANCE_NAME=$(echo "$BASE_URL" | grep -o 'marimo-team__marimo-[0-9]*' | head -1)
        
        echo "下载zip压缩包======================================"
        wget -O $INSTANCE_NAME.zip "$BASE_URL"
        unzip $INSTANCE_NAME.zip -d $INSTANCE_NAME
        pwd
        ls
        
        echo "设置环境变量======================================"
        python parse_config.py

    - name: write setup_env
      run: |
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        ###############################################
        pip install -q --upgrade pip setuptools
        pixi run make check-prereqs
        pixi run make fe
        pixi run make py
        ###############################################
        #pip install -e .
        #pip install -q -r requirements/test.txt
        #pip install -q -r requirements/types.txt
        #pip install -q -r test-requirements.txt
        #pip install -q --upgrade pytest
        #pip install -v pytest==8.4.2
        EOF

    - name: Execute pytest steps
      uses: ./.github/actions/pytest
            
  call-docker-verification:
    needs: pytest-verification
    name: docker-verification
    runs-on: ubuntu-22.04
    steps:
    
    - name: get setup_env
      run: |
        INSTANCE_DIR=$(echo "$BASE_URL" | sed -n 's/.*\/\([^\/?]*\)\.zip.*/\1/p')
        echo "Extracted using sed: $INSTANCE_DIR"
        echo "INSTANCE_DIR=$INSTANCE_DIR" >> $GITHUB_ENV
      
    - name: Execute docker-verification steps
      uses: ./.github/actions/docker-verification/docker-verification.yml