name: pytest verification

on:
  push:
    branches: [main]

env:
  # INSTANCE_DIR: "marimo-team__marimo-6887"
  # REPO_DIR: marimo
  # base_commit: 12b174df72d8731ee62f6c90d108711db5719ebf
  # REPO_URL: https://github.com/marimo-team/marimo.git
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: marimo/_smoke_tests/altair_examples/column_facet.py
  CONDA_DIR: /opt/miniconda3
  RUN_PYTEST: 'true'
  BASE_URL: 'https://sh-eng-dataset-zjk.oss-cn-zhangjiakou.aliyuncs.com/shien_files/SWEBench/%E4%BB%BB%E5%8A%A1/%E5%8F%91%E5%B8%83%E7%9A%84-12.15/marimo-team__marimo/marimo-team__marimo-6887.zip?Expires=1766973586&OSSAccessKeyId=LTAI5tB2Etp2wUEVtkT7zckM&Signature=c63pko5wAlnyaifEzxDUzIUnouU%3D'

jobs:

  call-docker-verification:
    needs: pytest-verification
    uses: ./.github/workflows/docker-verification.yml
    with:                       
      instance-dir: marimo-team__marimo-6887
      
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    environment: production
    
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: wget file
      run: |
        echo "下载zip压缩包======================================"
        wget -O marimo-team__marimo-6887.zip "$BASE_URL"
        unzip marimo-team__marimo-6887.zip -d marimo-team__marimo-6887
        pwd
        ls
        
        echo "设置环境变量======================================"
        python3 parse_config.py
        
        echo "查看环境变量======================================"
        env
    - name: write setup_env
      run: |
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        conda activate base
        ###############################################
        pip install -q --upgrade pip setuptools
        ###############################################
        pip install uv
        #pip install -e .
        #pip install -q -r requirements/test.txt
        #pip install -q -r requirements/types.txt
        #pip install -q -r test-requirements.txt
        #pip install -q --upgrade pytest
        #pip install -v pytest==8.4.2
        EOF

    - name: Execute pytest steps
      uses: ./.github/actions/pytest
            
