name: pytest verification

on:
  push:
    branches: [main]

env:
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: tests/_server/test_asgi.py
  RUN_PYTEST: 'fasle'
  BASE_URL: 'https://sh-eng-dataset-zjk.oss-cn-zhangjiakou.aliyuncs.com/shien_files/SWEBench/%E4%BB%BB%E5%8A%A1/%E5%8F%91%E5%B8%83%E7%9A%84-12.15/marimo-team__marimo/marimo-team__marimo-7244.zip?Expires=1767259665&OSSAccessKeyId=LTAI5tB2Etp2wUEVtkT7zckM&Signature=UWBsPYDTyIFvUMN57Dbyp4FytJI%3D'
jobs:
      
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    # 使用 root 用户运行整个作业
    container:
      image: ubuntu:22.04
      options: --user root
    environment: production 
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: wget file
      run: |
        whoami
        apt-get update 
        apt-get install -y --no-install-recommends wget unzip bzip2 git curl ca-certificates vim dos2unix python3 python3-pip python-is-python3
        
        export INSTANCE_NAME=$(echo "$BASE_URL" | grep -oE '[^/?]+\.zip' | sed 's/\.zip$//')
        
        echo "下载zip压缩包======================================"
        wget -O $INSTANCE_NAME.zip "$BASE_URL"
        unzip $INSTANCE_NAME.zip -d $INSTANCE_NAME
        pwd
        ls
        
        echo "设置环境变量======================================"
        pip install pyyaml
        python parse_config.py

    - name: write setup_env
      run: |
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        ##################pixi###########################
        # pip install -q --upgrade pip setuptools
        # pixi run make check-prereqs
        # pixi run make fe
        # pixi run make py
        ###############################################
        
        ##################uv###########################
        # pip install -q --upgrade pip setuptools
        # pip install -q uv
        ###############################################
        
        ##################hatch###########################
        # pip install -q --upgrade pip setuptools
        pip install hatch
        mkdir -p marimo/_static/assets
        cp frontend/index.html marimo/_static/index.html
        cp frontend/public/favicon.ico marimo/_static/favicon.ico
        ###############################################
        
        ##################pip###########################
        # git submodule sync
        # git submodule update --init --recursive --checkout
        # pip install -q --upgrade pip setuptools
        # pip install -e .
        # pip install -r requirements.txt
        # pip install -q --upgrade pytest
        ###############################################
        EOF
        
    - name: write pytest.sh
      run: |
        echo "开始写入pytest.sh 脚本====================="
        cat > pytest.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        #hatch env create test --python 3.12
        hatch run +py=3.12 test:test $TEST_FILE
        git apply $GITHUB_WORKSPACE/$INSTANCE_DIR/test.patch 
        hatch run +py=3.12 test:test $TEST_FILE || true
        git apply $GITHUB_WORKSPACE/$INSTANCE_DIR/code.patch 
        hatch run +py=3.12 test:test $TEST_FILE
        EOF
      
      
    - name: Execute pytest steps
      uses: ./.github/actions/pytest
            
  call-docker-verification:
    needs: pytest-verification
    name: docker-verification
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: get setup_env
      run: |
        echo "设置环境变量======================================"
        INSTANCE_DIR=$(echo "$BASE_URL" | sed -n 's/.*\/\([^\/?]*\)\.zip.*/\1/p')
        echo "Extracted using sed: $INSTANCE_DIR"
        echo "INSTANCE_DIR=$INSTANCE_DIR" >> $GITHUB_ENV
            
    - name: Execute docker-verification steps
      uses: ./.github/actions/docker-verification