name: pytest verification

on:
  push:
    branches: [main]

env:
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py37_4.10.3-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py310_25.9.1-3-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: lib/spack/spack/test/operating_system.py
  RUN_PYTEST: 'true'
  BASE_URL: 'https://sh-eng-dataset-zjk.oss-cn-zhangjiakou.aliyuncs.com/shien_files/SWEBench/%E4%BB%BB%E5%8A%A1/%E5%89%A9%E4%B8%8B%E7%9A%84-12.22/spack__spack/spack__spack-12831.zip?Expires=1767920604&OSSAccessKeyId=LTAI5tB2Etp2wUEVtkT7zckM&Signature=ONhaloWRBUv%2FvWen%2BWiIWqiIjtU%3D'
  
  
  
  
  
  
  
  
  
jobs:  
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    # 使用 root 用户运行整个作业
    container:
      image: ubuntu:22.04
      options: --user root
    environment: production 
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: wget file
      run: |
        whoami
        apt-get update 
        apt-get install -y --no-install-recommends wget unzip bzip2 git curl ca-certificates vim dos2unix python3 python3-pip python-is-python3
        
        export INSTANCE_NAME=$(echo "$BASE_URL" | grep -oE '[^/?]+\.zip' | sed 's/\.zip$//')
        
        echo "下载zip压缩包======================================"
        wget -O $INSTANCE_NAME.zip "$BASE_URL"
        unzip $INSTANCE_NAME.zip -d $INSTANCE_NAME
        pwd
        ls
        
        echo "设置环境变量======================================"
        pip install pyyaml
        python parse_config.py

    - name: write setup_env
      run: |
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        echo "python版本是："
        python --version
        echo "pip执行路径是："
        which pip
        echo "PATH路径是："
        echo $PATH
        cd /testbed/$REPO_DIR
        ##################pixi###########################
        # pip install -q --upgrade pip setuptools
        # pixi run make check-prereqs
        # pixi run make fe
        # pixi run make py
        ###############################################
        
        ##################uv###########################
        # apt update
        # apt install -y nodejs npm tree
        # pip install -q --upgrade pip setuptools
        # pip install -q uv
        # uv add pytest pytest-asyncio pytest-timeout nbformat
        # bash scripts/test-lsp.sh
        # ls 
        # uv pip install dist/marimo*whl
        ################################################
        
        ##################hatch###########################
        # pip install -q --upgrade pip setuptools
        # pip install hatch
        # hatch version
        # hatch run +py=3.12 test:python --version
        # mkdir -p marimo/_static/assets
        # cp frontend/index.html marimo/_static/index.html
        # cp frontend/public/favicon.ico marimo/_static/favicon.ico
        ###############################################
        
        ##################poetry###########################
        # apt-get update
        # apt-get install -y build-essential
        # pip install poetry
        # poetry run pip install "setuptools<58.0.0" 
        # poetry run pip install pystache==0.5.4
        # poetry add opentelemetry-sdk@">=0.13b0,<0.14" --allow-prereleases
        # poetry install 
        ###############################################
        
        ##################pip###########################
        pip install -q --upgrade pip setuptools six codecov flake8 pep8-naming 
        pip install pytest==6.2.5
        # pip install -e .
        # pip install -r requirements.txt
        # pip install -q --upgrade pytest
        ###############################################
        EOF
        
    - name: write pytest.sh
      run: |
        echo "开始写入pytest.sh 脚本====================="
        cat > pytest.sh << EOF
        #!/bin/bash
        export PYTHONPATH=/testbed/spack/lib/spack:/testbed/spack/lib/spack/external
        cd /testbed/$REPO_DIR
        echo "查看有多少测试用例"
        python -m pytest $TEST_FILE --collect-only
        echo "不打patch直接pytest"
        python -m pytest $TEST_FILE 
        echo "打上test.patch后测试"
        git apply $GITHUB_WORKSPACE/$INSTANCE_DIR/test.patch 
        python -m pytest $TEST_FILE || true
        echo "打上code.patch和test.patch后测试"
        git apply $GITHUB_WORKSPACE/$INSTANCE_DIR/code.patch 
        python -m pytest $TEST_FILE
        EOF
      
      
    - name: Execute pytest steps
      uses: ./.github/actions/pytest
            
  call-docker-verification:
    needs: pytest-verification
    name: docker-verification
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: get setup_env
      run: |
        echo "设置环境变量======================================"
        INSTANCE_DIR=$(echo "$BASE_URL" | sed -n 's/.*\/\([^\/?]*\)\.zip.*/\1/p')
        echo "Extracted using sed: $INSTANCE_DIR"
        echo "INSTANCE_DIR=$INSTANCE_DIR" >> $GITHUB_ENV
            
    - name: Execute docker-verification steps
      uses: ./.github/actions/docker-verification