name: pytest verification

on:
  push:
    branches: [main]

env:
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: marimo/_smoke_tests/pandas/dates.py
  RUN_PYTEST: 'fasle'
  BASE_URL: 'https://sh-eng-dataset-zjk.oss-cn-zhangjiakou.aliyuncs.com/shien_files/SWEBench/%E4%BB%BB%E5%8A%A1/%E5%8F%91%E5%B8%83%E7%9A%84-12.15/marimo-team__marimo/marimo-team__marimo-7119.zip?Expires=1767325298&OSSAccessKeyId=LTAI5tB2Etp2wUEVtkT7zckM&Signature=Ykt2LrbVG34nD8r3cMYIM5kUSs0%3D'
jobs:          
  call-docker-verification:
    name: docker-verification
    runs-on: ubuntu-22.04
    steps:
    
    - name: get setup_env
      run: |
        echo "设置环境变量======================================"
        cd google__pytype-1353
        apt update
        apt install python3-docker
        pip install docker
        python verification.py