name: pytest verification

on:
  push:
    branches: [main]

env:
  INSTANCE_DIR: "llamastack__llama-stack-3371"
  REPO_DIR: llama-stack
  base_commit: b6cb8178976b941a1fdb3894b00bd13eaca91561
  REPO_URL: https://github.com/llamastack/llama-stack.git
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: tests/integration/scoring/test_scoring.py
  CONDA_DIR: /opt/miniconda3
  RUN_PYTEST: 'true'

jobs:

  call-docker-verification:
    needs: pytest-verification
    uses: ./.github/workflows/docker-verification.yml
    with:                       
      instance-dir: llamastack__llama-stack-3371
      
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    environment: production
    container:
      image: ubuntu:22.04      # 容器镜像
      options: --rm            # Docker 运行选项
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
      
    - name: write setup_env
      run: |
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        source /opt/miniconda3/etc/profile.d/conda.sh
        conda activate base
        ###############################################
        pip install -q --upgrade pip setuptools
        pip install -q faiss-cpu 
        ###############################################
        pip install -e .
        #pip install -q -r requirements/test.txt
        #pip install -q -r requirements/types.txt
        #pip install -q -r test-requirements.txt
        pip install -q --upgrade pytest
        #pip install -v pytest==6.2.5
        EOF

    - name: Execute pytest steps
      uses: ./.github/actions/pytest
            
