name: pytest verification

on:
  push:
    branches: [main]
  # workflow_dispatch:  # 允许手动触发并设置输入
    # inputs:
      # enable_post_process:
        # description: 'Enable post-process job?'
        # type: boolean
        # default: false
        
env:
  PYTEST_VERIFICATION_WORKFLOW: getpelican__pelican-2818
    
jobs:
  call-pytest-verification:
    uses: ./.github/workflows/getpelican__pelican-2818.yml
    
  Docker-verification:
    needs: call-pytest-verification
    # if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.enable_post_process == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from verification
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.PYTEST_VERIFICATION_WORKFLOW }}  # 必须和 upload 时的 name 一致
          path: ./downloaded-reports  # 下载到这个目录
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Build Docker image
        run: |
          cd ./downloaded-reports
          docker build -t verification:latest .
          
      - name: Run script in container with mounted reports
        run: |
          # 确保目录存在
          ls -la ./downloaded-reports  
          # 运行容器，挂载目录，执行脚本，前台运行（自动退出）
          docker run --rm  \
          -v $GITHUB_WORKSPACE/downloaded-reports/test.patch:/testbed/test.patch \
          -v $GITHUB_WORKSPACE/downloaded-reports/code.patch:/testbed/test.patch \
          -v $GITHUB_WORKSPACE/downloaded-reports/run_verification.py:/testbed/run_verification.py \
          verification:latest bash -c "ls -la && python run_verification.py"
