name: pytest verification

on:
  push:
    branches: [main]

env:
  # INSTANCE_DIR: "marimo-team__marimo-6887"
  # REPO_DIR: marimo
  # base_commit: 12b174df72d8731ee62f6c90d108711db5719ebf
  # REPO_URL: https://github.com/marimo-team/marimo.git
  #CONDA_DIR: /opt/miniconda3
  PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-4.5.1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.1.0-1-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py311_25.9.1-3-Linux-x86_64.sh
  #PY_URL: https://repo.anaconda.com/miniconda/Miniconda3-py312_25.9.1-3-Linux-x86_64.sh
  TEST_FILE: tests/_runtime/packages/test_package_managers.py
  RUN_PYTEST: 'false'
  BASE_URL: 'https://sh-eng-dataset-zjk.oss-cn-zhangjiakou.aliyuncs.com/shien_files/SWEBench/%E4%BB%BB%E5%8A%A1/%E5%8F%91%E5%B8%83%E7%9A%84-12.3/GPflow__GPflow/GPflow__GPflow-1231.zip?Expires=1767234245&OSSAccessKeyId=LTAI5tB2Etp2wUEVtkT7zckM&Signature=ozeCC0xlvfS1bOOqeqemHfMJgkI%3D'

jobs:
      
  pytest-verification:
    name: pytest-verification
    runs-on: ubuntu-22.04
    # 使用 root 用户运行整个作业
    container:
      image: ubuntu:22.04
      options: --user root
    environment: production 
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: wget file
      run: |
        whoami
        apt-get update 
        apt-get install -y --no-install-recommends wget unzip bzip2 git curl ca-certificates vim dos2unix 
        
        export INSTANCE_NAME=$(echo "$BASE_URL" | grep -oE '[^/?]+\.zip' | sed 's/\.zip$//')
        
        echo "下载zip压缩包======================================"
        wget -O $INSTANCE_NAME.zip "$BASE_URL"
        unzip $INSTANCE_NAME.zip -d $INSTANCE_NAME
        pwd
        ls
        
        echo "设置环境变量======================================"
        pip install pyyaml
        python parse_config.py

    - name: write setup_env
      run: |
        echo "开始写入setup_env 文件====================="
        cat > setup_env.sh << EOF
        #!/bin/bash
        cd /testbed/$REPO_DIR
        ##################pixi###########################
        # pip install -q --upgrade pip setuptools
        # pixi run make check-prereqs
        # pixi run make fe
        # pixi run make py
        ###############################################
        
        ##################uv###########################
        # pip install -q --upgrade pip setuptools
        # pip install -q uv
        ###############################################
        
        ##################hatch###########################
        # pip install -q --upgrade pip setuptools
        # pip install -q uv
        ###############################################
        
        ##################pip###########################
        apt-get update
        apt-get install -y cmake gcc g++
        export SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True
        pip install --upgrade pip setuptools
        pip install -q numpy scipy pandas pytest nbformat \
            nbconvert ipykernel jupyter_client matplotlib pytest-xdist pytest-cov \
            multipledispatch mock codecov sklearn tabulate
        cd /testbed/GPflow
        pip install -e .
        pip install -r tests_requirements.txt
        pip install tensorflow==2.1.0 tensorflow-probability==0.9
        ###############################################
        EOF

    - name: Execute pytest steps
      uses: ./.github/actions/pytest
            
  call-docker-verification:
    needs: pytest-verification
    name: docker-verification
    runs-on: ubuntu-22.04
    steps:
    
    - name: get setup_env
      run: |
        INSTANCE_DIR=$(echo "$BASE_URL" | sed -n 's/.*\/\([^\/?]*\)\.zip.*/\1/p')
        echo "Extracted using sed: $INSTANCE_DIR"
        echo "INSTANCE_DIR=$INSTANCE_DIR" >> $GITHUB_ENV
      
    - name: Execute docker-verification steps
      uses: ./.github/actions/docker-verification/docker-verification.yml